@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    KAMIL KAMIL KAMIL<br />
    KAMIL KAMIL KAMIL<br />
    <abbr title="KAMIL">P:</abbr>
    425.555.0100
</address>
