@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rat - Pack</h1>
    <p class="lead">
        Rat - Pack oznacza paczkę przyjaciół, więc łączymy osoby i firmy z przewoźnikami.
        Powiedz nam co chcesz przewieźć, a my znajdziemy najlepszego Przewoźnika do Twojej przesyłki.
        Z nami przewieziesz wszystko i wszędzie w przyjacielskiej atmosferze z Paczką przyjaciół.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Dalej &raquo;</a></p>
</div>



<div class="jumbotron">
    <h2>Zobacz jakie to proste</h2>
    <p>
        Koszt transportu motocykla Yamaha z Lublina do Londynu według zwykłych stawek cennikowych wynosi
        około 1 zł/km czyli około 1900 zł. Z Clicktrans.pl motocykl został przewieziony przez firmę,
        która i tak miała jechać tą trasą, ale miała jeszcze puste miejsce na 1 motocykl.
        Cena wyniosła 600 zł, a więc aż o 70% mniej!
    </p>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Dalej &raquo;</a></p>
</div>



